{% extends "catalog/base.html" %}
{% load my_tags_catalog %}
{% block content %}
<div class="col-12 mb-5" xmlns="http://www.w3.org/1999/html">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top"
             src="{{ object.product_image | product_image }}" width="200" height="300"
             alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                {% if object.in_stock %}
                Названия: {{ object.product_name | slice:":100" }}
                {% else %}
                <span class="text-muted">Названия: {{ object.product_name | slice:":100" }}</span>
                {% endif %}
            </p>
            <h6>Версии:</h6>
            <ul>
                {% for version in object.version_set.all %}
                {% if version.is_active %}
                <li>{{ version.version_name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form>
                        <a href="{% url 'catalog:product' object.pk %}" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                        <a href="{% url 'catalog:update_product' object.pk %}" type="button" class="btn btn-sm btn-outline-primary">Редактировать</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </form>
                </div>
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}